html {
    background-color: #3a7aba;
    background: linear-gradient(#6bb7ff, #3a7aba);
    background-attachment: fixed;
}

::-webkit-scrollbar:vertical {
    background: linear-gradient(#6bb7ff, #3a7aba);
}

.sun {
    position: absolute;
    top: -2000px;
    left: 0;
    right: 0;
    z-index: -999;
    margin-left: auto;
    margin-right: auto;
    width: 2000px;
    height: 2000px;
    background-color: #ffdd0080;
    border-radius: 50%;
    box-shadow: 0 0 0 20px #ffdd001e, 0 0 0 40px #ffde0040, 0 0 0 60px #ffde0020,
        0 0 0 80px #ffde0010, 0 0 0 100px #ffde0000, 0 0 40px 100px #ffde0010;
    animation: sunrise 2s infinite linear forwards, rays 2s 2s infinite linear;
}

@keyframes sunrise {
    0% {
        box-shadow: none;
    }
}

@keyframes rays {
    0% {
        box-shadow: 0 0 0 0 #ffdd0027, 0 0 0 20px #ffde0080,
            0 0 0 40px #ffde0040, 0 0 0 60px #ffde0020, 0 0 0 80px #ffde0010,
            0 0 40px 100px #ffde0010;
    }
    100% {
        box-shadow: 0 0 0 20px #ffdd0048, 0 0 0 40px #ffde0040,
            0 0 0 60px #ffde0020, 0 0 0 80px #ffde0010, 0 0 0 100px #ffde0000,
            0 0 40px 100px #ffde0010;
    }
}
